<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Split Screen Example</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }

    .container {
      display: flex;
      height: 100vh;
    }

    .left-pane {
      flex: 30%;
      background-color: #fff36b;
      padding: 20px;
    }

    .right-pane {
      flex: 70%;
      padding: 20px;
      background-color:#c0ebe6;
    }
        /* Style the image inside the centered container, if needed */
        .centered img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
  </style>
</head>
<body>
  <div class="container">
    <div class="left-pane">
      <!-- Content for the left pane (30%) -->
      <div class="split left">
          <div class="centered">
            <center>
            <img class = "img" src="https://www.zibtek.com/blog/content/images/2021/05/image-3-2.png" alt="Heart">
            
              <h1> Object Recognition</h1>

              <p> Object recognition consists of recognizing, identifying, and positioning objects in images. There are four main tasks during object recognition. These are classification, tagging, detection, and segmentation.
‍</p>
            </center>
            
          </div>
        </div>
    </div>
    <div class="right-pane">
      <!-- Content for the right pane (70%) -->
      <div class="split right">
          <div class="centered">
          
          <center>
            <h2>Upload an Image</h2>
    
            <form action="/" method="POST" enctype="multipart/form-data">
                <label for="image">Select Image:</label>
                <input type="file" id="image" name="image" accept="image/*">
                <br>
                <input type="submit" value="Upload">
            </form>
    
            {% if uploaded_image %}
                <h3>Uploaded Image:</h3>
                <img src="{{ url_for('retrieve', image_id=uploaded_image) }}" alt="Uploaded Image" style="max-width: 100%;">
            {% endif %}
    
            {% if result_image %}
                <h3>Result Image:</h3>
                <img src="{{ url_for('retrieve', image_id=result_image) }}" alt="Result Image" style="max-width: 100%;">
            {% endif %}
        </center>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
            
          </div>
        </div>

    </div>
  </div>
</body>
</html>
